<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <link href="{{url_for('static', filename='prism.css' )}}" rel="stylesheet" />

    <link rel="stylesheet" href="{{url_for('static', filename='styles/searchPage.css' )}}">
    <title>ByteSearch | {{ searchPrompt }}</title>
</head>

<body data-prismjs-copy-timeout="500">
    <div class="header">
        <div class="site-logo">
            <img src="{{url_for('static', filename='images/logo.png' )}}" height="50px" />
            <p>ByteSearch</p>
        </div>
        <form class="search-form" action="/search" method="get">
            <input type="text" class="search-input" id="search-query" name="q" value="{{ searchPrompt }}">
            <button type="submit" class="search-button">
                <i class="fas fa-search fa-lg"></i>
            </button>
        </form>
    </div>
    <div class="ai-response-container">
        <div class="ai-logo">
            <img src="{{url_for('static', filename='images/ai-logo.png' )}}" height="30px" />
            <p>Generative AI is experimental. Info quality may vary.</p>
        </div>
        <div id="ai-response"></div>
    </div>
    <div class="search-results">
        <!-- <pre><code class="language-css" data-prismjs-copy="Copy the C snippet!">p { color: red }</code></pre> -->
        {% if searchResults == [] %}
        <p>Empty</p>
        {% else %}
        {%for searchResult in searchResults%}
        <div class="search-result">
            <a class="result-top" href="{{ searchResult.href }}">
                {{ searchResult.href }}
                <p class="result-title">
                    {{ searchResult.title }}
                </p>
            </a>
            <p class="result-description">
                {{ searchResult.body }}
            </p>
        </div>
        {%endfor%}
        {% endif %}
    </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    const fetchData = async () => {
        var textPrompt = '{{ searchPrompt }}'
        var markdownText = await axios.post(
            "https://aihub.pythonanywhere.com/apis/palm",
            {
                input: `You're a search engine copilot, you give AI responses to keywords and questions, now answer "${textPrompt}"`,
            }
        );

        var markdownHtml = marked.parse(markdownText.data);
        document.getElementById('ai-response').innerHTML = markdownHtml.replaceAll("<code>", "<pre><code class='language-css'>").replaceAll("</code>", "</code></pre>");
    }
    fetchData();
</script>
<script src="{{url_for('static', filename='prism.js' )}}"></script>

</html>