<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />

    <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static', filename='favicon/apple-touch-icon.png' )}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static', filename='favicon/favicon-32x32.png' )}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='favicon/favicon-16x16.png' )}}">
    <link rel="manifest" href="{{url_for('static', filename='favicon/site.webmanifest' )}}">
    <link rel="mask-icon" href="{{url_for('static', filename='favicon/safari-pinned-tab.svg' )}}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="{{url_for('static', filename='styles/searchPage.css' )}}">
    <title>ByteSearch | {{ searchPrompt }}</title>
</head>

<body data-prismjs-copy-timeout="500">
    <div class="header">
        <div class="header-top">
            <div class="header-container">
                <form class="search-form" action="/search" method="get">
                    <div class="search-input-container">
                        <img src="{{url_for('static', filename='images/II Logo Transparent.png' )}}" />
                        <input type="text" class="search-input" id="search-query" name="q" placeholder="Search anything"
                            value="{{searchPrompt}}">
                    </div>
                    <button type="submit" class="search-button">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
                <div class="header-tabs">
                    <a href="/search?q={{searchPrompt}}" class="active">All</a>
                    <a href="/image?q={{searchPrompt}}">Image</a>
                </div>
            </div>
        </div>

    </div>
    <div class="ai-response-container">
        <div class="ai-logo">
            <img src="{{url_for('static', filename='images/ai-logo.png' )}}" height="30px" />
            <p>Generative AI is experimental. Info quality may vary.</p>
        </div>
        <!-- <pre><code><button type="submit" class="search-button"><i class="fas fa-copy fa-lg copyicon"></i><i class="fas fa-check fa-lg checkicon"></i></button>p { color: red }</code></pre> -->
        <div class="ai-response-parent">
            <div id="ai-response" class=""></div>
            <div class="answer-container">
                {% for answer in answerLst[0:3] %}

                <a class="answer" href="{{answer.url}}">
                    {% if answer.icon != None%}
                    <img src="{{answer.icon}}" />
                    {% endif %}
                    <p>{{answer.text}}</p>
                </a>
                {% endfor %}
            </div>
        </div>

    </div>
    <div class="search-results">
        {% if searchResults == [] %}
        <p class="search-error">Your search - <span>{{searchPrompt}}</span> - did not return any result</p>
        {% else %}
        {%for searchResult in searchResults%}
        <div class="search-result">
            <a class="result-top" href="{{ searchResult.href }}">
                <p class="result-link">{{ searchResult.href }}</p>
                <span class="result-main-link">{{ searchResult.title }}</span>
            </a>
            <p class="result-description">
                {{ searchResult.body }}
            </p>
        </div>
        {%endfor%}
        {% endif %}

    </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<!-- <script src="https://cdn.jsdelivr.net/gh/mattboldt/typed.js/lib/typed.min.js"></script> -->
<script>
    const addButtonsToCodeTags = (string) => {
        const regex = /(<code[^>]*>((.|[\n\r])*?)<\/code>)/gm;
        const subst = `<code><button type="submit" onclick="copyCode(this)" class="search-button"><i class="fas fa-copy fa-lg copyicon"></i><i class="fas fa-check fa-lg checkicon"></i></button>$2</code>`;
        return string.replace(regex, subst);
    };

    const copyCode = (buttonElement) => {
        const codeElement = buttonElement.parentElement;
        const codeText = codeElement.textContent;
        console.log(codeText);

        // Copy the code to clipboard
        navigator.clipboard.writeText(codeText)
            .then(() => {
                console.log('Code copied to clipboard');
            })
            .catch((error) => {
                console.error('Failed to copy code: ', error);
            });
    };

    const fetchData = async () => {
        var textPrompt = '{{ searchPrompt }}';
        const codeSyntax = "```";
        var markdownText = await axios.post(
            "https://aihub.pythonanywhere.com/apis/palm",
            {
                input: `You're a search engine copilot, you give short and factual AI responses to keywords and questions in a markdown format, you organize your response and add spaces and breaks between paragraphs to make it more readable, you also trim down anything you put between two ${codeSyntax} to form code or anything that requires it, now answer "${textPrompt}"`,
            }
        );
        var markdownHtml = marked.parse(markdownText.data);
        const aiResponseDiv = document.getElementById('ai-response');
        aiResponseDiv.classList.add("ai-loaded");
        aiResponseDiv.innerHTML = markdownHtml;

        let finalString = addButtonsToCodeTags(markdownHtml);
        // Initialize Typed.js with options
        // var typed = new Typed("#ai-response", {
        //     strings: [finalString],
        //     typeSpeed: 2,
        //     contentType: "html",
        // });
    }
    fetchData();
</script>

</html>