:root {
  --background: #181b1c;
  --secondry-background: #373c3f;
  --loading-background: #828282;
  --pro-color: #f7d000;

  --text: #fff;
  --secondry-text: #b6b6b6;
  --warning-color: #ad9100;
  --error-color: #cc0300;
  --border-color: rgba(182, 182, 182, 0.2);

  --suggestion-color: #a2b7f4;
  --color0: #5882bc;
  --color1: #0fbcf6;
  --color2: #a25629;
  --color3: #b57877;
  --color4: #fa833f;

  --bingColor: #123bb6;
  --bardColor: #b45872;
  --youColor: #8045f0;
  --dialoColor: #996f04;
  --blenderColor: #0080f8;
  --huggingColor: #b26d07;

  --link-color: #8ab4f8;
  --link-visited: #c58af9;
  --ai-color1: #3b2d2a;

  --border-radius: 20px;
  --border-radius-small: 10px;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--ai-color1);

  display: flex;
  flex-direction: column;

  color: var(--text);
  font-family: "Lato", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
small,
li,
ul,
tbody,
tr,
td {
  color: var(--text);
  font-family: "Lato", sans-serif;
}

table {
  border-collapse: separate;
  border: solid var(--text) 1px;
  border-radius: var(--border-radius);

  margin-top: 10px;
  margin-bottom: 10px;
}

td,
th {
  border-left: solid var(--text) 1px;
  border-top: solid var(--text) 1px;
  padding: 5px;
}

th {
  border-top: none;
}

td:first-child,
th:first-child {
  border-left: none;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

p {
  color: var(--text);
  font-family: "Lato", sans-serif;

  margin: 0;
  padding: 0;
}

.header {
  padding: 10px;

  display: flex;
  flex-direction: row;

  align-items: center;
  gap: 30px;

  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);

  background-color: var(--background);
  overflow-x: hidden;
}

.header .site-logo {
  display: flex;
  flex-direction: row;

  align-items: center;
}

.header .site-logo p {
  font-weight: 700;
  font-size: 18px;
}

.header .search-form {
  flex: 1;
  display: flex;
  gap: 10px;
}

.header .search-input {
  background-color: var(--secondry-background);
  color: var(--text);
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 15px;

  outline: none;
  border: none;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);

  padding: 7.5px;
  padding-left: 15px;
  height: 25px;

  max-width: 95%;
  width: 800px;
}

.header .search-button {
  background-color: var(--color0);
  border: none;
  outline: none;

  border-radius: 100px;
  aspect-ratio: 1;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.header .search-button i {
  color: var(--background);
}

.search-results {
  padding-left: 90px;
  padding-right: 90px;

  background-color: var(--background);
  flex: 1;

  border-top-right-radius: var(--border-radius);
  border-top-left-radius: var(--border-radius);
}

.search-result {
  margin-bottom: 20px;
  padding: 10px;
  max-width: 800px;
}

.result-top {
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-size: 22px;
  font-weight: 600;
  margin-top: 5px;
}

.result-top:link {
  color: var(--link-color);
}

.result-top:visited {
  color: var(--link-visited);
}

.result-top .result-link {
  font-size: 15px;
  font-family: "Lato", sans-serif;
  color: var(--secondry-text);
  margin-bottom: 5px;
}

.search-result .result-description {
  color: var(--secondry-text);
  margin-top: 5px;
}

.ai-response-container {
  background-color: var(--ai-color1);
  padding: 20px;
  padding-left: 100px;
  padding-right: 100px;
  max-width: 800px;
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.ai-response-container #ai-response {
  transition: 5s;
  display: none;
}

.ai-response-container #ai-response.ai-loaded {
  display: block;
}

.typed-cursor {
  display: none;
}

.ai-response-container .ai-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
}

pre {
  border-radius: var(--border-radius-small);
  background-color: var(--background);
  padding: 10px;
  min-height: 35px;
}

pre code {
  position: relative;
  display: block;
}

pre button {
  display: none;
}

pre:hover button {
  display: block;
  background-color: var(--secondry-background);
  border-radius: var(--border-radius-small);

  outline: none;
  border: none;
  width: 35px;
  aspect-ratio: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  right: 0;

  transition: 0.2s;
}

pre button .checkicon {
  display: none;
}

pre button .copyicon {
  display: block;
}

pre button:focus .checkicon {
  display: block;
}

pre button:focus .copyicon {
  display: none;
}

pre button i {
  color: var(--text);
}

.search-error {
  margin-top: 10px;
  color: var(--secondry-text);
}

.search-error span {
  color: var(--text);
  font-weight: 600;
}
